<br><font size=6><b>Project 3 - </b></font><font size=6>Part 1</font>

<font size=3><ul><li>Suganthan Thamotharampillai
<br><li>01.26.2023

In [1]:
## IMPORT LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## LOAD DATASET
# Urls
url_akas="https://datasets.imdbws.com/title.akas.tsv.gz"
url_basics="https://datasets.imdbws.com/title.basics.tsv.gz"
url_ratings="https://datasets.imdbws.com/title.ratings.tsv.gz"

# Dataframes
akas = pd.read_csv(url_akas, sep='\t', low_memory=False)
basics = pd.read_csv(url_basics, sep='\t', low_memory=False)
ratings = pd.read_csv(url_ratings, sep='\t', low_memory=False)

<br><br><font size=5><b>Required Preprocessing - Details

<font size=4><b>Title.AKAs
<br><font size=3><b>1. Handling '\N' Placeholder Values

In [97]:
# IDENTIFYING '\N' VALUES
print("\nNumber of '\\N' values are", (akas=='\\N').sum().sum())
(akas=='\\N').sum()

Number of '\N' values are 72026563

titleId                   0
ordering                  0
title                     0
region              1873963
language            6470829
types              29244549
attributes         34435113
isOriginalTitle        2109
dtype: int64

In [99]:
# REPLACING '\N' VALUES
akas.replace({'\\N':np.nan}, inplace=True)
print("\nNow the number of '\\N' values are", (akas=='\\N').sum().sum(), "\nAnd the number of 'np.NaN' values are", akas.isna().sum().sum(),'\n\n\\N VALUES\n',26*'-')
print((akas=='\\N').sum(),'\n\nNaN VALUES\n',26*'-')
print(akas.isna().sum())

Now the number of '\N' values are 0
And the number of 'np.NaN' values are 72050571

\N VALUES
 --------------------------
titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

NaN VALUES
 --------------------------
titleId                   0
ordering                  0
title                     5
region              1877624
language            6480427
types              29245708
attributes         34444698
isOriginalTitle        2109
dtype: int64

<br><font size=3><b>2. Keep only US Movies

In [108]:
# SETTING REGION to 'US'
akas = akas[akas['region'] == 'US']
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
34697655,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
34697725,tt9916620,1,The Copeland Case,US,NaN,NaN,NaN,0
34697813,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
34697856,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
34697872,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

<br><font size=4><b>Title.BASICS
<br><font size=3><b>1. Handling '\N' Placeholder Values

In [207]:
# IDENTIFYING '\N' VALUES
print("\nNumber of '\\N' values are", (basics=='\\N').sum().sum())
(basics=='\\N').sum()

Number of '\N' values are 17958952

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 1
startYear         1285857
endYear           9458305
runtimeMinutes    6780644
genres             434145
dtype: int64

In [208]:
# REPLACING '\N' VALUES
basics.replace({'\\N':np.nan}, inplace=True)
print("\nNow the number of '\\N' values are", (basics=='\\N').sum().sum(), "\nAnd the number of 'np.NaN' values are", basics.isna().sum().sum(),'\n\n\\N VALUES\n',26*'-')
print((basics=='\\N').sum(),'\n\nNaN VALUES\n',26*'-')
print(basics.isna().sum())

Now the number of '\N' values are 0
And the number of 'np.NaN' values are 17958984

\N VALUES
 --------------------------
tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

NaN VALUES
 --------------------------
tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1285857
endYear           9458305
runtimeMinutes    6780644
genres             434155
dtype: int64

<br><font size=3><b>2. Eliminate movies that are null for runtimeMinutes

In [272]:
# Dropping movies 'null' for Runtime
print(f"Before dropping, 'null' value for movie runtime is {(basics[(basics['titleType'] == 'movie') & (basics['runtimeMinutes'].isna())].index.shape[0])}");y=basics['titleType'].value_counts()
basics.drop(basics[(basics['titleType'] == 'movie') & (basics['runtimeMinutes'].isna())].index, inplace=True)
print(f"After  dropping, 'null' value for movie runtime is {basics[(basics['titleType'] == 'movie') & (basics['runtimeMinutes'].isna())].index.shape[0]}")

Before dropping, 'null' value for movie runtime is 233642
After  dropping, 'null' value for movie runtime is 0

In [273]:
# Checking 'movie' value
print(f"\nMOVIE BEFORE\n{23*'-'}\n{y}\n\nMOVIE AFTER\n{23*'-'}\n{basics['titleType'].value_counts()}")

MOVIE BEFORE
-----------------------
tvEpisode       7238239
short            910290
movie            633590
video            269782
tvSeries         237487
tvMovie          140149
tvMiniSeries      46923
tvSpecial         40262
videoGame         33354
tvShort            9905
tvPilot               2
Name: titleType, dtype: int64

MOVIE AFTER
-----------------------
tvEpisode       7238239
short            910290
movie            399948
video            269782
tvSeries         237487
tvMovie          140149
tvMiniSeries      46923
tvSpecial         40262
videoGame         33354
tvShort            9905
tvPilot               2
Name: titleType, dtype: int64

In [205]:
basics = pd.read_csv(url_basics, sep='\t', low_memory=False)

In [213]:
#data = basics.copy()
data.shape

(9559983, 9)

In [173]:
basics = data.copy()
basics.shape

(9559983, 9)

In [212]:
basics.shape

(9559983, 9)